* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url(images/bg-intro-desktop.png), hsl(0, 100%, 74%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.container {
	width: 80%;
	margin: auto;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.col {
	width: 50%;
}

.text {
	color: #fff;
}

.text h1 {
	width: 90%;
	margin-bottom: 20px;
	font-size: 45px;
	line-height: 0.9;
}

.text p {
	line-height: 1.5;
}

.col:nth-child(2) {
	padding-left: 20px;
}

.msg {
	background: hsl(248, 32%, 49%);
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 5px rgba(0, 0, 0, 0.287);
	margin-bottom: 20px;
	color: #fff;
}

.msg span {
	font-weight: 700;
}

.col form {
	background: #fff;
	padding: 30px;
	border-radius: 10px;
}

input {
	display: block;
	width: 100%;
	padding: 15px 20px;
	margin-bottom: 10px;
	border: 1px solid hsl(246, 25%, 77%);
	border-radius: 5px;
}

input::placeholder {
	color: hsl(249, 10%, 26%);
	font-weight: 600;
}

.btn {
	background: hsl(154, 59%, 51%);
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
}

form p {
	font-size: 10px;
	text-align: center;
	color: rgba(0, 0, 0, 0.39);
}

.terms {
	text-decoration: none;
	color: hsl(0, 100%, 74%);
	font-weight: 600;
}
