* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(61, 61, 139);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: lightcyan;
  padding: 40px;
  text-align: center;
}

hr {
  margin: 3px 0 30px;
}

h2 {
  margin-bottom: 30px;
}

.hide {
  display: none;
}

form {
  width: 50%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="submit"] {
  margin-top: 10px;
  padding: 5px 30px;
}

select,
input[type="number"] {
  padding: 10px 20px;
  border-radius: 0px;
}
