* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: #f1f5f8;
}

.card h1,
.card h2,
.card h3,
.card p {
  margin-top: 0;
  margin-bottom: 10px;
}

.faq {
  width: 60%;
  margin: auto;
}

.card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.664);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}

.toggle {
  font-weight: 900;
  font-size: 30px;
  color: #c9a872;
  cursor: pointer;
  border: 1px solid #c9a872;
  padding: 1px 5px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  display: none;
  transition: all 0.2s;
}

.show {
  display: block !important;
  animation: dd 0.5s;
}

@keyframes dd {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
