* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: skyblue;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
}

nav {
  height: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
}

.logo {
  padding: 0 20px;
  font-weight: 700;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: rgb(236, 230, 230);
  position: fixed;
  left: 0;
  top: 50px;
  width: 200px;
  z-index: 100;
  height: 100vh;
  padding-top: 37px;
  display: none;
}

.navbar a {
  display: block;
  padding: 0 20px;
  color: #324d70;
  transition: all 0.5s;
}

.navbar a:hover {
  background-color: red;
  color: white;
}

.close {
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 0;
}

.hamburger {
  font-size: 25px;
  padding: 0 20px;
}

.show {
  display: block !important;
}
main {
  padding: 70px 20px 20px;
}
